<li class="<%= active?(posts_path)%>">
  <%= link_to 'Entries', posts_path %>
</li>
<li class="<%= active?(new_post_path)%>">
  <%= link_to '<span class="glyphicon glyphicon-plus"></span> Add hours'.html_safe , new_post_path, id: 'new_post_from_nav' %>
</li>