<div class="container-fluid">
  <div class="pending-homepage row">
    <% 4.times do || %>
        <div class="homepage-block col-md-3">
          <p>Some text</p>
        </div>
    <% end %>
  </div>
</div>
<div class="pending-homepage">
  <div>
    <p>Some text</p>
  </div>
</div>
