<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 pending-homepage">
      <h3>Pending your confirmation</h3>
      <%= render partial: 'pending_audit_confirmations', locals: {pending_audit_confirmations: @pending_audit_confirmations} %>
    </div>well    <div class="col-md-12 pending-homepage">
      <p>Something special</p>
    </div>
  </div>
</div>
